<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Expeditor</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TraitementCommandeServlet</display-name>
    <servlet-name>TraitementCommandeServlet</servlet-name>
    <servlet-class>com.expeditor.servlets.TraitementCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitementCommandeServlet</servlet-name>
    <url-pattern>/TraitementCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>com.expeditor.servlets.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>com.expeditor.servlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuiviCommandeEmploye</display-name>
    <servlet-name>SuiviCommandeEmploye</servlet-name>
    <servlet-class>com.expeditor.servlets.SuiviCommandeEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuiviCommandeEmploye</servlet-name>
    <url-pattern>/SuiviCommandeEmploye</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeCommandeServlet</display-name>
    <servlet-name>ListeCommandeServlet</servlet-name>
    <servlet-class>com.expeditor.servlets.ListeCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeCommandeServlet</servlet-name>
    <url-pattern>/ListeCommandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actuListeCommande</display-name>
    <servlet-name>actuListeCommande</servlet-name>
    <servlet-class>com.expeditor.servlets.actuListeCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actuListeCommande</servlet-name>
    <url-pattern>/actuListeCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProchaineCommandeServlet</display-name>
    <servlet-name>ProchaineCommandeServlet</servlet-name>
    <servlet-class>com.expeditor.servlets.ProchaineCommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProchaineCommandeServlet</servlet-name>
    <url-pattern>/ProchaineCommande</url-pattern>
  </servlet-mapping>
</web-app>